@import '_global.scss';
.allarticles{
    position: relative;
    @include body-inner-article;
    span{
        background: $boddy_dolor;
        border-radius: 5px;
        margin-bottom: 15px;
        width: 100%;
        display: block;
        line-height: 40px;
       padding: 0 $p-pequeno;
       margin-bottom: $p-mediano;
    }
    table{
        background: white;
        thead,tbody{
           line-height: 30px;
           text-align: center;
           td{
               border: solid 1px #ececec;
               div{
                   img{
                      padding-top:5px; 
                      display: block;
                   }
                   
               }
           }
        }
        tbody{
            tr:nth-child(even){
                background: #f3f3f3;
            }
        }

    }
    &__button_eddit{
        border: none;
        width: 90%;
        line-height: 25px;
        border-radius: 3px;
        background: #cfefde;
        &:hover{
            background:  #a6e2c2;
            cursor: pointer;
        }
    }
    &__button_delette{
        border: none;
        width: 90%;
        line-height: 25px;
        border-radius: 3px;
        background: #efcfcf;
        &:hover{
            background:  #efb3b3;
            cursor: pointer;
        }
    }
    
}