@import '_global.scss';
.bodyblog{
 @include box-width;
 @include flex-row-betwen-center;
 align-items: initial;
    @media all and (max-width:$screen-tablet){
        flex-direction: column;
        flex-flow: column-reverse;
    }
 section{
    margin-bottom: 80px; 
 }
  &__body{
     width: 80%; 
     @media all and (max-width:$screen-tablet){
        width: 100%; 
    }
     &-wrapper{
         margin: $p-mediano; 
         display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        flex-wrap: wrap; 
         &-box{ 
        position: relative;
        width: 48%;
        margin-right: 2%; 
        @media all and (max-width:$screen-tablet){
            width: 100%; 
        }
         &-link-box{
             position: relative;
             width: 100%;
             
                 div{
                    width: 100%; 
                }
             
         } 
                
         &-link-title{ 
            position: relative;
            width: 100%;
            background: #000000de;
            bottom: 0;
            max-height: 130px;
            height: 100px;
            display: flex;
            @media all and (max-width:$screen-tablet){
                position: relative; 
            }
            @media all and (max-width: $screem-mobile){ 
                flex-direction: column;
                border-bottom: solid 1px $color_parrafo; 
                padding-bottom: 10px;
                max-height: unset;
                height: unset;
            }
            &-date{
                background: $base-color;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px;
                min-width: 100px;
                @media all and (max-width: $screem-mobile){ 
                    padding: 5px 10px;
                     }
                span{
                    margin-left: 10px;
                   } 
                   
                &-wrapper{
                   padding: 0 15px; 
                   h3{
                    font-weight: 600;
                    font-size: $size_semiSmall;
                    margin:8px 0;
                    line-height: 20px;
                    cursor: pointer;
                    height: 60px;
                    overflow: hidden;
                    &:hover{
                        color:$color_parrafo;
                    }
                    @media all and (max-width:$screen-tablet){
                        font-size: $p-basic;
                    }
                   
                  }
                  &-info{
                      display: flex;
                      flex-direction: row;
                      justify-content: flex-start;
                      font-size: 12px;
                      @media all and (max-width: $screem-mobile){ 
                        display: none;
                         }
                      span{
                          display: flex;
                          flex-direction: row;
                          margin-right: 10px;
                          b{
                              margin-right: 5px;
                          }
                          p{
                              margin: 0;
                          }
                      }
                  }
                }
            }
           
             
         }

        }
        
     }
 }
 &__sidebar{
    width: 20%; 
    padding-top: $p-pequeno;
    @media all and (max-width:$screen-tablet){
        width: 100%; 
    }
    span{
        line-height: 40px;
        padding-left: 10px; 
        border-bottom: solid 1px $base_darkgray;
        display: block;
        width: 100%;
    }
    &-wrapper{ 
        margin: $p-pequeno;
        border:solid 1px $base_darkgray;
        min-height: 100px;
        ul{
            @include no-ul;
            li{
                color: $color_parrafo;
                cursor: pointer;
                line-height: 40px;
                display: block;
                width: 100%;
                border-bottom: solid 1px $base_darkgray;
                padding-left: 10px;
                &:last-child{
                    border-bottom: unset;
                }
            }
        }
    }
 }
   
    
}