@import '_global.scss';

.eddit{ 
    background: #000000c2;
    position: fixed;
    z-index: 10;
    width: 86%;
    max-height: 100vh;
    top: 0px;
    padding: 30px 30px 60px;
    min-height: 500px;
    right: 0;
    overflow: auto;
    top: 0;
    height: 100vh;
    &__wrapper{
        &-closeButton{
            button{
                background: transparent;
                border: solid 1px $boddy_dolor;
                color: $boddy_dolor;
                font-size: $p-basic;
                padding: 4px 15px;
                border-radius: 4px;
                &:hover{
                    cursor: pointer;
                    color: white;
                    border: solid 1px white;
                }
            }
        }
        &-title{
            margin: 25px 0 40px; 
            span{
                background: transparent;
                color: white; 
            }
        }
        &-form{
            &_form{
                display: flex;
                justify-content: space-between;
                &-left{
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    label {
                        display: block;
                        margin: 5px 0 10px;
                        color: white;
                    }
                    input {
                        background: transparent; 
                        border: solid 1px $boddy_dolor;
                        color: $boddy_dolor;
                        line-height: 30px;
                        color:$boddy_dolor;
                        font-size: $p-basic;
                    }
                  .sun-editor{
                      margin-top: 30px;
                  }
                  &-select{
                        background: transparent; 
                        border: solid 1px $boddy_dolor;
                        color: $boddy_dolor;
                        line-height: 30px;
                        color:$boddy_dolor;
                        font-size: $p-basic;
                        padding: 7px 10px;
                }
                  &-submit{
                    margin-top: 15px;
                    border-radius: 4px;
                    &:hover{
                        cursor: pointer;
                        color: white;
                        border: solid 1px white;
                    }
                  }
                }
                &-right{
                    width: 30%;
                    &-wrapper{
                        padding:25px 15px;
                        &_preview{
                            height: 120px;
                            width: 100%;
                            background: green;
                        }
                        &-imagesList{
                            ul{
                                @include no-ul;
                                height: 260px;
                                overflow: auto; 
                               transition: all .4s; 
                            }
                        }
                    }
                    button{
                        background: transparent;
                        display: block;
                        width: 100%;
                        border: solid 1px $boddy_dolor;
                        color: $boddy_dolor;
                        line-height: 30px;
                        margin-top: 10px; 
                        border-radius: 4px;
                        margin-bottom: 25px;
                        &:hover{
                            cursor: pointer;
                            color: white;
                            border: solid 1px white;
                        }
                    }
                }
                
            } 
        }
    }
}
.closePannel{
    height: 0!important;
}