@import '_global.scss';
.ModuleComments{
    border-top:solid 1px  $base_darkgray;
    &_head{
        margin-top: 15px;
        border-left: solid 3px $base_linegray;
        color:  $color_parrafo;
        margin-left: $p-pequeno;
        padding-left: $p-pequeno;
        background: $base_grayceniza;
        display: block;
        width: 100%;
        width: 97%;
        line-height: 30px; 
    }
    ol{
        padding-left: 50px;
        li{
            padding-right: 20px;
            .ModuleComments_list{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center; 
                border-bottom: solid 1px rgb(22, 19, 19);
                padding: 0 10px;
                background: $base_grayceniza;
                color:  $color_parrafo;
            }
            .ModuleComments_comment{ 
                padding: 3px 0 3px 0;
                margin-left: 25px;
                box-sizing: border-box;
                p{
                    border-left:solid 4px $base_grayceniza; 
                    padding: 10px;
                    color:  $color_parrafo;
                   
                }
            }
        }
    }
}