.panelmultimedia {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background: #000000de;
    padding:6%;
    z-index:6;
    top:-5vh;
    top:0;
    &__wrapper{
        width: 84%;
        position: relative;
        ul{
            padding: 0;
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            max-height: 75vh;
            overflow: auto;
            li{ 
                  list-style: none;
                  padding: 10px;
                  border: solid 1px #534040;
                  width: 33%;
                  overflow:hidden;
                  img{
                    width: 100%;
                    transition: all 0.2s;
                    &:hover{
                        transform: scale(1.05, 1.1);
                        cursor: pointer;
                      }
                  }
                }
          }
      }
  }
    
   