@import '_global.scss'; 
 .SetNewArticle{
    @include body-inner-article;
    &__wrapper-title{
        background: $boddy_dolor;
        border-radius: $br-peque;
        margin-bottom: 15px;
        span{
            line-height: 40px;
            padding-left: $p-mediano;
            font-size: $size_subtitulo;
        }
    }// wrappr title
    &__body{
        &-wrapper{
            &-form{
              @include box-general_flex;
              align-items: flex-start;
              width: 100%;
              &-main{
                  width: 80%;
                  display: flex;
                  flex-direction: column;
                  padding:$p-mediano;
                  box-sizing: border-box;
                  input,select,textarea{
                      @include input-select-border;
                  }
                  input{
                    @include input-rules;
                  }
              }
                &-aside{
                    width: 20%;
                    &-selectIMG{
                        width: 100%;
                        margin-top: 40px;
                        background: white;
                        @include input-select-border; 
                        span{
                            padding-left: 10px;
                            line-height: 35px;
                            border-bottom:solid 1px rgb(218, 211, 211);
                            display: block;
                        } 
                        button{
                            background: gray;
                            display: block;
                            width: 95%;
                            margin: 5px auto 10px;
                            color: white;
                            line-height: 30px;
                            border-radius: 5px;
                            text-align: center;
                            border:none;
                            &:hover{
                                background: rgb(94, 94, 94);
                                cursor: pointer;
                            }
                          }
                        &-preview{
                            height: 80px;
                            background: $bg-backg-bk-dark;
                            width: 95%;
                            margin:5px auto;
                            background-size: 100%;
                            &-input{
                                display: none;
                            }
                        }
                    }
                    &-languaje{
                        background: white;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        border: solid 1px rgb(218, 211, 211);
                        padding:0 0 5px;
                        label{
                            padding: 8px 5px;
                            margin: 6px 0;
                            border-bottom: solid 1px rgb(218, 211, 211); 
                          }
                          span{
                            font-size: 12px;
                            margin: 6px;
                          }
                      }
                    &-selectCategory{
                        width: 100%;
                        margin-top: 20px;
                        background: white;
                        @include input-select-border;
                        span{
                            padding-left: 10px;
                            line-height: 35px;
                            border-bottom:solid 1px rgb(218, 211, 211);
                            display: block;
                        }
                        select{
                            @include input-rules;
                            display: block;
                            width: 95%;
                            margin:10px auto; 
                          }
                    }
                    &-addNewCategory{
                        input{
                           @include input-rules; 
                        @include input-select-border;
                        width:95%; 
                        margin:0 auto 10px;
                        display:block;
                        }
                        
                        button{
                            background: gray;
                            display: block;
                            width: 95%;
                            margin: 5px auto 10px;
                            color: white;
                            line-height: 30px;
                            border-radius: 5px;
                            text-align: center;
                            border:none;
                            &:hover{
                                background: rgb(94, 94, 94);
                                cursor: pointer;
                            }
                        }
                    }
                }

                &-keyworl{
                    height: 25px;
                    background: #f7f6ed;
                    margin:5px 0;
                    border-radius: $br-grande;
                    ul{
                        padding: 0;
                        margin: 0;
                        display: flex;
                        li{
                            list-style: none;
                            background: gray;
                            padding: 0 10px 3px;
                            border-radius: 15px;
                            line-height: 20px;
                            display: inline-block;
                            margin-right: 5px;
                            color: white;
                        }
                    }
                }

                &-SendResset{
                    input:first-child{
                       width: 150px;
                       background: rgb(241, 203, 152);
                       border:none;
                       border-radius: $br-peque;
                       cursor: pointer;
                     }
                     input:nth-child(2){
                        width: 250px;
                        background: rgb(120, 183, 255);
                        border:none;
                        border-radius: $br-peque;
                        cursor: pointer;
                        border:none;
                        &:hover{
                            background: rgb(98, 158, 226);
                        }
                      }
                      span{
                          display: inline-block;
                          position: relative;
                          height: 20px;
                          width: 20px;
                          margin-left: 10px; 
                          animation:spin 0.2s linear infinite; 
                          opacity: 0;
                      }
                }
            }

        }
        
    }
}
.languFlag{
    background: url('../public/es.svg') no-repeat;
    background-position: 100% 0;
    background-size: 20px;
}
 
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }