@import '_global.scss';

.single{ 
    margin:30px auto;
    max-width:800px;
    &__wrapper{
        padding: $p-pequeno;
        &-image-date{
            position:relative; 
            img{
                width:100%;
            }
            b{
                 position:absolute;
                left:0;
                top: 15px;
                background: $base_darkGray;
                line-height: 40px;
                padding: 7px 20px; 
            }
        }
        h1{
            @include single-title;
            
                @media all and (max-width:$screen-tablet){
                    font-size: $p-basic;
                    font-weight: 600; 
                    line-height: 25px;
                    padding: 10px 0 10px 10px; 
                }
        }
        &-html{
            h1{
                background: unset;
                font-size: 21px;
                display: unset;
                line-height: initial;
                padding: unset;
                border-left: unset;
            }
            h2{
                font-size: 19px; 
            }
            h3{
                font-size: 17px; 
            }
            h4{
                font-size: 15px; 
            }
            blockquote{
                background:$base_darkGray;
                padding: $p-pequeno;
                border-radius: $br-peque;
                color:$color_parrafo;
            }
            pre{
                background: #333030;
                border: solid 2px #534b4b;
                border-radius: 4px;
                padding: 10px;
                overflow: auto;
                span{
                    background: unset!important;
                    color: white;
                }
            }
            color:$color_parrafo;
            strong,b,a{
                color:white;
            }
            table,tr,td{
                border:solid 1px $base_darkGray;
            }
            td{
                padding:$p-pequeno;
            }
            img{
                width: 95%!important; 
                display: block;
                margin: 0 auto;
            }
        }




        &-image-share {
            position: relative;
            width:100%;
            margin:40px 0;
            border: solid 1px #292626;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding:0;
                margin:0;
                li{
                    list-style: none;
                    border-left: solid 1px #292626;
                    padding: 5px;
                    background: radial-gradient(gray 0%, lightgray 30%, transparent 60%);
                     
                     &:hover{
                        background: radial-gradient(gray 0%, transparent 60%); 

                        img{
                            &:hover{
                            cursor:pointer;
                            }
                        }
                     }
                    &:first-child{
                       border:none;
                       background:unset;
                       color:$color_parrafo;
                    }
                  }
              }
          }
            
    }
}

  .dowbleContetn{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
     div{
         width: 50%;
         @media all and (max-width:$screen-tablet){
            width: 100%;
          }
         img{
             display: block;
             max-width: 70%;
         }
     }
    }


 