 @import '_global.scss';
 .nocommets  { 
     margin-top: $p-grande;
   &-head{
        
        border-bottom: solid 1px $base_darkgray;
        p{
            color: $base_linegray;
            padding:5px;
            margin:0 10px;
        }
   }
   &-form{
       padding-top:$p-pequeno;
     &-head{
         span{
             border-left: solid 3px $base_linegray;
             color:  $color_parrafo;
             margin-left: $p-pequeno;
             padding-left: $p-pequeno;
             background: $base_grayceniza;
             display: block;
             width: 100%;
             width: 97%;
             line-height: 30px; 
         }
         
     }  
     &-submitDate{
        color: $base_darkgray;
        font-size: $size_small;
        padding: $p-basic;
     }
     form{
         margin-top: $p-pequeno;
         display: flex;
         flex-direction: column;
         label{
             font-weight: 100;
             color:$base_linegray;
             margin-top: $p-pequeno;
         }
         input{
             border:none;
             background: transparent;
             height: 35px; 
             border:solid 1px $base_darkgray;
             color: $color_parrafo;
             padding-left: $p-pequeno;
         }
         input[type="submit"]{
             background: $base_grayceniza;
             color:$boddy_dolor;    
             &:hover{
                 cursor: pointer;
                 background: $base_darkgray;
             }
         }
         
         textarea{
            border:none;
            background: transparent; 
            border:solid 1px $base_darkgray;
            color: $color_parrafo;
            padding-left: $p-pequeno;
        }
        .comment-control{
            padding:$p-basic ;
            code{
                margin-right: $p-pequeno;
            }
            span{
                text-decoration: underline;
                font-size: 1.1em;
                margin: 0 3px;
              }
             &-quiz{
                 width: 40px;
                 margin-left: 5px;
             } 
              
        }
     }
   }

}