.timeline {
    overflow: hidden;

    &__wrapper {
        list-style: none;
        position: relative;

        &:after {
            content: "";
            height: 100%;
            width: 20%;
            background: linear-gradient(90deg, rgba(12, 10, 10, 0) 10%, rgba(12, 10, 10, 1) 70%, rgba(12, 10, 10, 1) 100%);
            position: absolute;
            top: 0;
            right: 0;
        }

        .carousel {
            position: relative;
        }

        &-btnBack {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;

            button {
                background: #CB080F;
                border: none;
                height: 30px;
                width: 30px;
                position: relative;
                border-radius: 3px;

                &:before {
                    content: "";
                    width: 13px;
                    height: 13px;
                    border-top: solid 1px white;
                    border-left: solid 1px white;
                    transform: rotate(-40deg);
                    position: absolute;
                    z-index: 4;
                    top: 9px;
                    left: 9px;
                }
            }
        }

        &-btnNext {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            z-index: 4;

            button {
                background: #CB080F;
                border: none;
                height: 30px;
                width: 30px;
                position: relative;
                border-radius: 3px;

                &:before {
                    content: "";
                    width: 13px;
                    height: 13px;
                    border-top: solid 1px white;
                    border-left: solid 1px white;
                    transform: rotate(140deg);
                    position: absolute;
                    z-index: 4;
                    top: 9px;
                    right: 9px;
                }
            }
        }

        ul {
            li {

                list-style: none;
            }
        }

        &_slides {
            padding: 20px;
            margin-right: 15px;

            &_content {
                display: flex;
                flex-direction: column;

                div {
                    min-height: 100px;
                }

                &_top {
                    &-wrapper {
                        align-items: baseline;

                        p {
                            color: #909090;

                        }
                    }
                }

                &_bottom {

                    &-wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        span {
                            background: #CB080F;
                            display: block;
                            padding: 5px 40px;
                            position: relative;

                            &::after {
                                content: "";
                                display: block;
                                border-top: solid 15px #0C0A0A;
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                left: -11px;
                                top: 3px;
                                border-right: solid 15px #0C0A0A;
                                -moz-tranform: rotate(40deg);
                                transform: rotate(-310deg);
                                background: #0C0A0A;

                            }

                            &::before {
                                content: "";
                                display: block;
                                border-top: solid 15px #CB080F;
                                width: 8px;
                                height: 6px;
                                position: absolute;
                                right: -11px;
                                top: 5px;
                                border-right: solid 15px #CB080F;
                                -moz-tranform: rotate(40deg);
                                transform: rotate(-310deg);
                                background: #CB080F;

                            }
                        }
                    }
                }
            }
        }
    }
}



.timeline__wrapper_slides_content.odd {
    flex-direction: column-reverse;


}

// .innerTl.boxed {
//     display: flex;
//     flex-direction: column;
//     padding: 70px 0;
// }

// ul#trabajosArriba {
//     display: flex;
//     list-style: none;
//     border-bottom: solid 3px #585858;
//     padding: 0;
//     padding-bottom: 30px;
// }

// ul#trabajosArriba li{
//     position: relative;
// }

// ul#trabajosAbajo {display: flex; list-style: none; padding: 0;}



// ul#trabajosArriba li:nth-child(1) { 
//     width: 25%;
// }
// ul#trabajosArriba li:nth-child(2) {
//     text-align: center;
//     width: 50%;
// }
// ul#trabajosArriba li:nth-child(3) { 
//     width: 25%;
// }



// ul#trabajosAbajo li {
//     width: 45%;
//     position: relative;
// }
// ul#trabajosAbajo li:nth-child(2)  {
//     width: 20%;
// }
// ul#trabajosAbajo li:nth-child(1)  {
//     text-align: left;
//     width: 40%;
// }
// ul#trabajosAbajo li:nth-child(3)  {
//     text-align: right;
//     width: 40%;
// }




// ul#trabajosAbajo li:nth-child(1) .MarkerTl {
//     top: -43px;
//     left: 0;
// } 
// ul#trabajosAbajo li:nth-child(3) .MarkerTl {
//     top: -43px;
//     right: 0;
// }






// .innerTl h3 {
//     color: #c90810;
//     font-size: 1.5em;
//     font-weight: 100;
//     padding: 0;
//     margin: 0;
// }

// .innerTl span {
//     margin: 0;
//     padding: 0;
//     color: #909090;
//     font-weight: 100;
//     font-size: 1.3em;
// }

// .innerTl p {
//     margin: 0;
//     color: #fff;
//     font-weight: 100;
//     font-size: 1.1em;
//     line-height: 22px;
// }



// ul.MarkerTl {
//     margin: 0;
//     padding: 0;
//     width: 15px;
//     height: 15px;
//     border: solid 2px gray;
//     border-radius: 15px;
//     background: black;
//     position: absolute;
//     list-style: none;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// ul.MarkerTl li {
//     width: 10px!important;
//     height: 10px;
//     background: #6e0410;
//     border-radius: 5px;
// }


// ul#trabajosArriba li:nth-child(2) .MarkerTl{
//     left: 48%;
//     bottom: -40px;
// }

// @media all and (max-width:1000px){
//     ul#trabajosAbajo li:nth-child(2)  {
//         width: 0%;
//     }
//     ul#trabajosAbajo li:nth-child(1)  {
//         text-align: left;
//         width: 50%;
//         padding-right: 30px;
//     }
//     ul#trabajosAbajo li:nth-child(3)  {
//         text-align: right;
//         width: 50%;
//         padding-left: 30px;
//     }

//     ul#trabajosArriba li:nth-child(1) {
//         width: 5%;
//     }
//     ul#trabajosArriba li:nth-child(2) {
//         text-align: center;
//         width: 90%;
//     }
//     ul#trabajosArriba li:nth-child(3) {
//         width: 5%;
//     }
// }