@import '_header.scss';
@import '_global.scss';
@import '_home.scss';
@import '_Selectorarticles.scss';
@import '_Sliderarticles.scss';
@import '_titles.scss';
@import '_printsoftware.scss';
@import '_webproducer.scss';
@import '_timeline.scss';
@import '_timelinemobile.scss';
@import '_portfolios.scss';
@import '_about.scss';
@import '_datafire.scss';
@import '_single.scss';
@import '_login.scss';
@import '_statusbar.scss';
@import '_BackendBody.scss';
@import '_SetNewArticle.scss';
@import '_allarticles.scss';
@import '_multimedia.scss';
@import '_panelmultimedia.scss';
@import '_editArticle.scss';
@import '_SistemComments.scss';
@import '_Listcomments.scss';

html,body {
  padding: 0;
  margin: 0;
  background:$background_body;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: whitesmoke;
    background: $background_body;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

